
body{
	color: grey;
}

div{
	color: red;
}

.header{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container {
	color: pink;
	width: 30px;
	height: 10px;
}

.interior {
	display: inline-flex;
	justify-content: space-around;

}

h1 {
	color: black;
	display: flex;
	justify-content: center;
}